@keyframes spin-s1 {
    0% {
        transform: rotateY(90deg) translateZ(40vw);
    }
    100% {
        transform: rotateY(0deg) translateZ(0px);
    }
}
@keyframes spin-f1 {
    0% {
        transform: rotateY(0deg) translateZ(0px);
    }
    100% {
        transform: rotateY(-90deg) translateZ(40vw);
    }
}
@keyframes spin-s2 {
    0% {
        transform: rotateY(-90deg) translateZ(40vw);
    }
    100% {
        transform: rotateY(0deg) translateZ(0px);
    }
}
@keyframes spin-f2 {
    0% {
        transform: rotateY(0deg) translateZ(0px);
    }
    100% {
        transform: rotateY(90deg) translateZ(40vw);
    }
}
@keyframes spin-logo {
    0% {
        transform: rotateX(90deg) translateY(-100vh);
    }
    100% {
        transform: rotateX(0deg) translateY(0);
    }
}
@keyframes background-load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes neon-glow {
    0% { text-shadow: 0 0 0 white; }
    5% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    7% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    8% { text-shadow: 0 0 0 white; }
    29% { text-shadow: 0 0 0 white; }
    30% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    32% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    33% { text-shadow: 0 0 0 white; }
    69% { text-shadow: 0 0 0 white; }
    70% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    72% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    73% { text-shadow: 0 0 0 white; }
    94% { text-shadow: 0 0 0 white; }
    98% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    100% {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

body {
    width: 100%;
    overflow-x: hidden;
}
body.styledark {
    background-color: #004466;
    color: white;
}

#header-nav {
    background-color: white;
    border-radius: 0;
    border: 0;
    transition: 0.5s;
}
div.navbar-header {
    height: 60px;
}
.styledark #header-nav {
    background-color: #004466;
}
#header-logo {
    margin: 6px;
    border-radius: 25px;
}
#logo-link {
    position: relative;
    margin-left: 45%;
}
.styledark #header-nav li a {
    color: #cccccc;
}
.styledark #header-nav li a:hover {
    color: white;
}
@media (min-width: 768px) {
    .navbar-header {
        position: relative;
        left: 42%;
    }
}
@media (min-width: 992px) {
    .navbar-header {
        left: 45%;
    }
}
#active {
    color: black;
}
.styledark #header-nav #active {
    color: white;
}
@media (min-width: 768px) {
    #active {
        border-bottom: 2px pink solid;
        padding-bottom: 10px;
    }
}
#toggle {
    position: absolute;
    margin-top: 17px;
    display: inline-block;
    width: 90px;
    height: 30px;
    cursor: pointer;
}
#toggle input {
    opacity: 0;
} 
#toggle #slider {
    position: absolute;
    background: #004466;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: -10px;
    border-radius: 50%;
    transition: 0.5s;
}
#toggle #box {
    position: absolute;
    height: 30px;
    width: 60px;
    margin-left: -15px;
    border: 2px #004466 solid;
    border-radius: 15px;
    transition: 0.5s;
}
#toggle input:checked ~ #slider {
    margin-left: 20px;
    background: white;
}
#toggle input:checked ~ #box {
    background: #004466;
    border: 2px white solid;
}
#toggle #moon {
    position: absolute;
    margin-left: 47px;
}
@media (max-width: 767px) {
    #toggle #sun {
        height: 25px;
    }
    #toggle #moon {
        height: 25px;
    }
}
#foot {
    background: grey;
    width: 100%;
    margin-top: 40px;
    margin-bottom: -40px;
    text-align: center;
}
#foot #subs {
    margin-top: 10px;
}
#foot #subs input:hover, input:focus {
    transition: background .5s linear;
    background: #e6ccff;
    border: 2px #cc99ff solid;
}
.styledark #foot #subs input:hover, input:focus {
    transition: background .5s linear;
    background: #e6ccff;
    border: 2px #cc99ff solid;
}
#foot #subs h4 {
    font-family: 'Cookie', cursive;
    font-weight: 100;
    font-size: 350%;
}
#foot #subs #email {
    font-size: 20px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0;
}
.styledark #foot #subs input {
    background: #004466;
}
#foot #subs #submit {
    font-size: 20px;
    padding: 5px;
    margin-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media (max-width: 767px) {
    #foot #subs #email, #foot #subs #submit {
        font-size: 13px;
    }
}
#foot #subs #textAfterSubscribing {
    margin-top: 5px;
}
#foot #socials {
    margin-top: 20px;
}
#foot #socials a {
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
}
#foot #socials a:hover {
    text-decoration: none;
    color: black;
}
#foot #socials ul {
    list-style: none;
}
#foot #text {
    text-align: justify;
    margin-top: 30px;
    font-family: cursive;
    font-size: 16px;
}
#foot hr {
    width: 50%;
}
#foot #copy {
    margin-top: 20px;
}
/* Index Page */
#index #titles {
    top: 10vh;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/background-light.jpg);
    background-position: 0;
    background-size: cover;
    animation: background-load 1s ease-in;
    animation-fill-mode: forwards;
}
#index.styledark #titles {
    background-image: url(../images/background-dark.jpg);
}
#index .init {
    position: absolute;
    left: 10%;
    width: 80vw;
    background: white;
    box-shadow: 2px 2px 5px black;
    border: 1px black solid;
    text-align: center;
}
#index .init h1 {
    margin: 20px;
    font-weight: bold;
    font-family: "Cookie", cursive;
    font-size: 70px;
}
@media (max-height: 620px) {
    #index .init h1 {
        font-size: 60px;
        margin: 0px;
    }
}
#index #f1, #s1 {
    top: 40vh;
}
#index #f2, #s2 {
    top: 59vh;
}
#index.styledark .init {
    background: #004466;
}
@media (min-width: 992px) {
    #index.styledark .init h1 {
        color: #d9d9d9;
        animation: neon-glow 1s linear 1s;
        animation-fill-mode: forwards;
    }
}
@media (max-width: 991px) {
    #index.styledark .init h1 {
        color: white;
    }
}
#index #s1{
    transform: rotateY(90deg);
    animation: spin-s1 2s ease-in-out 1.3s; 
    animation-fill-mode: forwards;
}
#index #f1 {
    animation: spin-f1 2s ease-in-out 1s;
    animation-fill-mode: forwards;
}
#index #s2{
    transform: rotateY(-90deg);
    animation: spin-s2 2s ease-in-out 3.3s;
    animation-fill-mode: forwards;
}
#index #f2 {
    animation: spin-f2 2s ease-in-out 3s;
    animation-fill-mode: forwards;
}
#index #flip-logo {
    opacity: 0;
}
@media (min-width: 992px) {
    #index #flip-logo {
        opacity: 1;
        overflow-y: hidden;
        position: absolute;
        background-color: white;
        top: 40vh;
        left: 10%;
        height: 36.5vh;
        transform: rotateX(90deg) translateY(-100vh);
        border: 2px black solid;
        animation: spin-logo 1s ease-in 5s;
        animation-fill-mode: forwards;
    }
    #index.styledark #flip-logo {
        background-color: #004466;
    }
}
#index .content {
    background-color: white;
    padding: 60px 10px;
}
#index.styledark .content {
    background-color: #004466;
    color: white;
}
#index .content h4 {
    justify-content: center;
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
}
#index .readmore {
    background: black;
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 10px;
}
#index .readmore:hover {
    background: orange;
    color: black;
}
#index .learn {
    padding: 60px 10px;
    background-color: #e6e6e6;
}
#index.styledark .learn {
    background-color: #106610;
}
#index .learn a {
    text-decoration: none;
    color: inherit;
}
#index .learn a:hover {
    color: #8c8c8c;
}
#index .learn h4 {
    justify-content: center;
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
}
#index .aboutme {
    padding: 60px 10px;
    background-color: #e6e6e6;
}
#index .aboutme h4 {
    justify-content: center;
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
}
#index.styledark .aboutme {
    background-color: #106610;
}

/* Blogs Page */
#blogs .blogs-cont {
    margin-top: 100px;
}
#blogs .blogs-cont a {
    text-decoration: none;
    color: inherit;
}
#blogs .blogs-cont a:hover section {
    box-shadow: 3px 3px 10px 3px black;
}
#blogs .blogs-cont a section {
    background: #e6e6e6;
    margin: 10px;
    box-shadow: 1px 1px 5px 1px black;
}
#blogs .blogs-cont a section>img {
    width: 100%;
}
#blogs.styledark .blogs-cont a section {
    background: #333333;
}
#blogs .blogs-cont .rating {
    float: right;
    margin: -25px 10px 0 0;
}
#blogs .blogs-cont a section p {
    text-align: justify;
    margin: 0 10px;
}
@media (min-width: 992px) {
    #blogs .blogs-cont a section {
        height: 450px;
    }
}
@media (min-width: 768px) and (max-width:991px) {
    #blogs .blogs-cont a section {
        height: 290px;
    }
}

/* About Page */
#about #cont {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: justify;
}
#about.styledark a {
    color: #b3ffb3;
}
#about #cont h4 {
    font-weight: bold;
}
#about #email-link {
    font-size: 15px;
}

/* Unsubscribe Page*/
#unsub #un {
    margin: 150px 0 100px 0;
    display: block;
}
#unsub #un #em {
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
}
#unsub #un select {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
@media (min-width: 768px) {
    #unsub #un select {
        font-size: 20px;
    }
}
#unsub #un #final {
    border-radius: 0 0 10px 10px;
}

/* Blog Posts */
#blog-page {
    background-color: #f2f2f2;
}
#blog-page.styledark {
    background-color: #005580;
}
#blog-page.styledark a {
    color: #b3e6ff;
}
#blog-page #cont {
    margin-top: 100px;
}
#blog-page #cont p {
    margin: 0 20px 0 20px;
    font-size: 17px;
    text-align: justify;
}
#blog-page #cont h1, h3, h4 {
    font-weight: bold;
}
#blog-page .rating {
    float: right;
    margin-top: -20px;
}
#blog-page .rating img {
    cursor: pointer;
}
#blog-page textarea {
    resize: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    margin-bottom: 0;
    display: inline;
}
#blog-page #suggest-sub {
    margin-top: -5px;
    background: white;
    border-radius: 0 0 10px 10px;
    padding: 5px 10px;
}
#blog-page.styledark #suggest-sub, textarea {
    color: black;
}
#blog-page #learn {
    position: fixed;
    right: 20px;
    top: 250px;
    z-index: 1;
}
